###############
## Sensitive ##
###############
data/
sequences.txt
sequences_reversed.txt

#################
## Environment ##
#################
/venv/

###########
## Cache ##
###########
__pycache__